main {
  margin: auto;
  width: 50%;
  border: 1px solid green;
}

section {
  padding-top: 10px;
}

li {
  border-top: 1px solid green;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
}

#agregar_tarea {
  background-color: #005033;
  color: white;
  border-radius: 10%;
  transition-duration: 0.4s;
  cursor: pointer;
}

#agregar_tarea:hover {
  background-color: #04aa6d; /* Green */
  color: white;
}

div {
  border: 1% solid gray;
}
